.container{
    margin-top: 100px;
}

.newarrival{
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.col-md-7 h2{
    color: #555;
}

.col-md-7 .fa{
    color: #eb7373;
    font-size: 20px;
}

.price{
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.cart{
    font-size: 15px;
    margin-left: 20px; 
}

.product-description h4{
    margin-top: 50px;
    color: #eb7373;
}

.product-description p{
    margin-top: 30px;
}

.product-description hr{
    margin-bottom: 50px;
}